In [1]:
import pandas as pd

In [4]:
df=pd.DataFrame(pd.read_csv("cleaned.csv"))

In [5]:
df.head()

,Unnamed: 0,price,vehicleType,yearOfRegistration,gearbox,model,kilometer,fuelType,brand
0,0,500,kleinwagen,1997,manual,polo,150000,benzene,volkswagen
1,1,11500,kombi,2005,automatic,a6,150000,diesel,audi
2,2,6200,cabrio,1999,automatic,clk,150000,benzene,mercedes_benz
3,3,20900,limousine,2013,automatic,c_klasse,50000,benzene,mercedes_benz
4,4,4200,kleinwagen,2007,manual,yaris,150000,diesel,toyota

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102734 entries, 0 to 102733
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Unnamed: 0          102734 non-null  int64
 1   price               102734 non-null  int64
 2   vehicleType         102734 non-null  object
 3   yearOfRegistration  102734 non-null  int64
 4   gearbox             102734 non-null  object
 5   model               102734 non-null  object
 6   kilometer           102734 non-null  int64
 7   fuelType            102734 non-null  object
 8   brand               102734 non-null  object
dtypes: int64(4), object(5)
memory usage: 7.1+ MB

In [10]:
unique_brand = df['brand'].unique()
print(unique_brand)
unique_vehicleType = df['vehicleType'].unique()
print(unique_vehicleType)
unique_gearbox  = df['gearbox'].unique()
print(unique_gearbox)
unique_model = df['model'].unique()
print(unique_model)
unique_fuelType = df['fuelType'].unique()
print(unique_fuelType)

['volkswagen' 'audi' 'mercedes_benz' 'toyota' 'fiat' 'ford' 'bmw' 'volvo'
 'smart' 'renault' 'skoda' 'opel' 'suzuki' 'hyundai' 'mitsubishi'
 'peugeot' 'alfa_romeo' 'sonstige_autos' 'honda' 'citroen' 'porsche'
 'seat' 'kia' 'mazda' 'mini' 'nissan' 'chevrolet' 'lancia' 'chrysler'
 'daewoo' 'dacia' 'rover' 'trabant' 'subaru' 'daihatsu' 'land_rover'
 'jaguar' 'saab' 'lada' 'jeep']
['kleinwagen' 'kombi' 'cabrio' 'limousine' 'bus' 'other' 'suv' 'coupe']
['manual' 'automatic']
['polo' 'a6' 'clk' 'c_klasse' 'yaris' 'seicento' 'golf' 'mondeo' '3er'
 'other' 'a4' 'v70' 'bora' 'tiguan' 'fortwo' 'kuga' 'octavia' 'passat'
 'corsa' 'twingo' 'astra' 'a3' 'scenic' 'transporter' 'touran' 'grand'
 'i_reihe' 'sprinter' 'm_klasse' 'vectra' 'focus' 'jetta' '500' 'a5'
 'a_klasse' 'tt' 'ka' '156' 'doblo' '147' 'b_klasse' '2_reihe' 'stilo'
 'galant' 'fabia' 'e_klasse' 'laguna' 'accord' 'v40' 'verso' 'c5' 'rav'
 'cayenne' '5er' 'lupo' 'toledo' 'fiesta' 'sportage' 'clio' 'transit'
 'punto' 'x_reihe' 'primera' 'omega' 'ceed' 'one' 'getz' '1er' '911'
 'cooper' 'ypsilon' 'fusion' 'zafira' 'z_reihe' 'kadett' 'aygo' 'meriva'
 'c_max' 'roadster' 'forfour' 'ibiza' 'roomster' 'superb' 'tigra' 'kalos'
 'sl' 'duster' 'megane' 'vito' 'micra' '3_reihe' 'v50' 'clubman'
 'outlander' '6_reihe' 'phaeton' 'captiva' 'insignia' 'mx_reihe' 'c1' 'c2'
 'leon' 'fox' '1_reihe' 'nubira' 'galaxy' 'panda' 'beetle' 'q5' 'spider'
 'modus' '4_reihe' 'viano' 'q3' 'alhambra' 'civic' '601' 'voyager'
 'm_reihe' 'scirocco' 'kangoo' 'c4' 'jazz' 'auris' 'aveo' 'combo'
 'touareg' 'a1' 'cc' 'pajero' 'impreza' 'cl' 'c3' 'avensis' 'sirion'
 'arosa' 'kaefer' 'carisma' 'ducato' 'corolla' 'ptcruiser' 'cr_reihe'
 'slk' 'caddy' 'c_reihe' 'espace' '80' 'a8' 'eos' 'signum' 'berlingo'
 'almera' 'cordoba' 'xc_reihe' 'range_rover_evoque' 's_max' 's_klasse'
 'defender' '7er' 'escort' 'colt' 'cuore' 'sharan' 'altea' 'up' 'sandero'
 'mustang' 'swift' 'rio' 'picanto' '100' 'range_rover_sport' 'logan' '900'
 'qashqai' '300c' 'calibra' 'boxster' 'mii' 'niva' 'q7' '90' 'note' '850'
 'legacy' 'navara' 'freelander' 'g_klasse' 'matiz' 'citigo' 'yeti'
 'carnival' 'glk' 'crossfire' 'vivaro' 'sorento' '5_reihe' 'santa' '159'
 'bravo' 'rx_reihe' '145' 'a2' 's60' 'lybra' 'justy' 'lancer' 'discovery'
 'terios' 'agila' 'exeo' 'forester' 'v_klasse' 'spark' 'jimny' 'gl'
 'x_type' 'charade' 'tucson' 'x_trail' '9000' '200' '6er' 'wrangler' 'v60'
 'antara' 'cherokee' 'kalina' 'cx_reihe' 'r19' 's_type' 'range_rover'
 'lanos' 'rangerover' 'juke' 'materia' 'croma' 'musa' 'amarok' 'delta'
 'kappa' 'lodgy' 'move' 'b_max' 'i3' 'samara' 'serie_2' 'elefantino'
 'serie_1' 'discovery_sport' 'serie_3']
['benzene' 'diesel' 'lpg' 'other' 'hybrid' 'cng' 'electric']

In [9]:
df=df.replace('elektro','electric')

In [11]:
df.to_csv("cleaned.csv")

In [13]:
df1=pd.read_csv("cleaned.csv")

In [14]:
df1.head()

,Unnamed: 0.1,Unnamed: 0,price,vehicleType,yearOfRegistration,gearbox,model,kilometer,fuelType,brand
0,0,0,500,kleinwagen,1997,manual,polo,150000,benzene,volkswagen
1,1,1,11500,kombi,2005,automatic,a6,150000,diesel,audi
2,2,2,6200,cabrio,1999,automatic,clk,150000,benzene,mercedes_benz
3,3,3,20900,limousine,2013,automatic,c_klasse,50000,benzene,mercedes_benz
4,4,4,4200,kleinwagen,2007,manual,yaris,150000,diesel,toyota

In [16]:
unique_fuelType = df1['fuelType'].unique()
print(unique_fuelType)

['benzene' 'diesel' 'lpg' 'other' 'hybrid' 'cng' 'electric']